@model PGManager.Models.Bed

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "";
    if (Model.Id == 0)
    {
        title = "Add Bed";
    }
    else
    {
        title = "Edit Bed";
    }
    ViewData["Title"] = title;
}


<div class="row">
    <div class="col-12 border-bottom">
        <h2 class="text-primary">@title</h2>
    </div>
    <div class="col-md-4 mt-4">
        <form asp-action="EditBed" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="RoomId" type="hidden" />
            <div class="form-group">
                <label asp-for="BedNo" class="control-label"></label>
                <input asp-for="BedNo" class="form-control" />
                <span asp-validation-for="BedNo" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Id" /> }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />}
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}