@using PGManager.Utilities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PGManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Tenant" asp-controller="Home" asp-action="Index"><img src="~/favicon.ico" style="width:30px" class="mr-1" />PGManager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                    <ul class="navbar-nav mr-auto">
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Masters
                                </a>
                                <div class="dropdown-menu bg-dark mt-2" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item text-light" asp-area="Admin" asp-controller="Cities" asp-action="Index">City</a>
                                    <a class="dropdown-item text-light" asp-area="Admin" asp-controller="Facilities" asp-action="Index">Facility</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_User_Owner))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Owner" asp-controller="PG" asp-action="Index">PG Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Owner" asp-controller="Photos" asp-action="Index">Photos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Owner" asp-controller="PriceTier" asp-action="Index">Price Tiers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Owner" asp-controller="Rooms" asp-action="Index">Rooms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Owner" asp-controller="Request" asp-action="Index">Requests</a>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_User_Customer))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Tenant" asp-controller="PG" asp-action="Index">Find PG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Tenant" asp-controller="PG" asp-action="MyStays">My Stays</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Tenant" asp-controller="Documents" asp-action="Index">My Documents</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3 ml-5 mr-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light bg-dark">
        <div class="container-fluid">
            &copy; 2020 - PGManager - <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a2ce765c65.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
